<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="stylesheets/main.css">
    <title>Add Book</title>
</head>
<body>
    <form action='/addBook' method="POST">

        <label for="title">Title</label>
        <input type="text" name="title" id="title">

        <label for="summary">Summary</label>
        <input type="text" name="summary" id="summary" class="summary">

        <button type="submit">Submit</button>
    </form>
</body>
</html>