<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <%- include('includes/navigation.ejs') %>

    <h1>Book Summaries</h1>

    <% if (books.length > 0) { %>
        <% for (let book of books) { %>
            <h2><%= book.title %></h2>
            <p><%= book.summary %> </p>
        <% } %>
    <% } else { %>
        <h1>No books found!</h1>
    <% } %>    
</body>
</html>