body {
    padding: 0;
    margin: 0;
    border: 0;
}

.addProduct label,
.addProduct input,
.addProduct textarea {
    display: block;
    width: 100%;
    margin-bottom: .5rem;
}

.addProductForm {
    margin: auto;
    width: 30%;
}

.horizontalNav {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 100%;
    padding: 0;
    margin: 0;
    height: 2rem;
    border: 0 0 auto 0;
    background-color: rgb(0, 0, 77);
}

ul {
    list-style: none;
}
.navItem {
    display: block;
    text-decoration: none;
    margin-left: 10px;
    text-align: center;
    color: white;
    height: 100%;
    padding: 0px 8px 0px 8px;
    
}

.button {
    font: inherit;
    border: 1px solid #00695c;
    color: #00695c;
    background: white;
    border-radius: 3px;
    cursor: pointer;
    text-decoration: none;
    margin: 4px 0 6px 0;
    padding: 2px;
  }
  
  .button:hover,
  .button:active {
    background-color: #00695c;
    color: white;
  }
.formActions {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:space-evenly;
    
}

.navItem:hover {
    background-color: rgb(198, 204, 218);
    color: black;
}

@media (max-width: 800px) {
    .flex-container, .horizontalNav {
      flex-direction: column;
    }
    .addProductForm{
        width: 100%;
    }
  }
