.horizontalNav {
    display:flex;
    flex-direction: row;
    justify-content: flex-start;
}

ul {
    list-style-type: none;
}
.navItem {
    margin: 20px;
}

.groceryItem {
    background-color: lightskyblue;
    border-radius: 5%;
    border-style: outset;
}