.productList {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.productName {
    text-align: center;
} 

.productDescription {
    text-align: center;
}

.productPrice {
    text-align: center;
}

img {
    width: 100%;
}

.productCard {
    background-color: rgb(198, 204, 218);
    border-radius: 5%;
    border-style: outset;
    max-width: 20%;
    min-width: none;
    margin: auto;
    margin-top: 10px;
}