<nav>
    <ul class='horizontalNav'>
        <li><a href="/project01" name=home class='navItem'>Home</a></li>
        <li><a href="/project01/productList" name=productList class='navItem'>List of Products</a></li>
        <li><a href="/project01/cart" name='cart' class='navItem'>Shopping Cart</a></li>
        <li><a href="/project01/admin/addProduct" name=addProduct class='navItem'>Add Products</a></li>
        <li><a href="/project01/admin/adminProductList" name=adminProductList class='navItem'>Admin Product List</a></li>

        
    </ul>
</nav>