<nav>
    <ul class='horizontalNav'>
        <li><a href="/project01" name=home class='navItem'>Home</a></li>
        <li><a href="/project01/productList" name=productList class='navItem'>All Products</a></li>
    </ul>
</nav>